<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<Configuration status="WARN" monitorInterval="30">-->

<!--    <Properties>-->
<!--        <Property name="filename">logs</Property>-->
<!--    </Properties>-->

<!--    <Appenders>-->
<!--        &lt;!&ndash; Console Appender &ndash;&gt;-->
<!--        <Console name="STDOUT" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>-->
<!--        </Console>-->

<!--        &lt;!&ndash; File Appender &ndash;&gt;-->
<!--        <File name="LOGFILE" fileName="${filename}/logs.log">-->
<!--            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>-->
<!--        </File>-->
<!--    </Appenders>-->

<!--    <Loggers>-->
<!--        &lt;!&ndash; Logger for your package &ndash;&gt;-->
<!--        <Logger name="Tests" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="LOGFILE"/>-->
<!--            <AppenderRef ref="STDOUT"/> &lt;!&ndash; Added to allow Debug logs in Console &ndash;&gt;-->
<!--        </Logger>-->

<!--        &lt;!&ndash; Root Logger should capture all levels &ndash;&gt;-->
<!--        <Root level="DEBUG">-->
<!--            <AppenderRef ref="STDOUT"/>-->
<!--            <AppenderRef ref="LOGFILE"/>-->
<!--        </Root>-->
<!--    </Loggers>-->

<!--</Configuration>-->
